<% provide(:title, 'FAQ') %>
<h2>FAQ (Frequently Asked Questions)</h2>
<p>1. What is the future roadmap for this application?</p>
<ul>
  <li> Add a Forgot password feature </li>
  <li> Add ability to destroy a user </li>
  <li> Filter expenses based on other criteria(like weekly, yearly etc.,) </li>
  <li> Send periodical e-mails about one's expenses </li>
  <li> Have any suggestions of nice to have features? Please open an issue with in the <a href="https://github.com/boddhisattva/expenses">github issue tracker of the expenses repository</a></li>
</ul>

