<% provide(:title, 'Help') %>
<h2>Help</h2>
<p>Unable to find answers to your questions via the <%= link_to "FAQ?", faq_path%> If so, feel free to drop me an email at mail4mohnish@gmail.com with your app specific questions.</p>
