<% provide(:title, 'Home') %>
<h2>Home</h2>

<div class="center hero-unit">
  <p>Welcome to the Expenses App where tracking your expenses are made easy</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
