<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h3>Welcome to the Expenses App where tracking your   expenses are made easy</h3>


  <%= link_to "New user? Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>