#create_expense_link {
  float: right;
}

#expenses_page_heading {
  margin-right: 135px;
  margin-top: 40px;
}

#calculate_total_expenses_link_text {
  margin-left: 9px;
  margin-top: 36px;
}

#create_expense_link_text {
  margin-top: 36px;
}
